/* Changes
change wording colours ie lol to be different from katz
change font or add more formatting
chck in mobile view again, fonts are different
add letter spacing 
change background to gradient
add select border and family
change folder name from LOLKATZ*/

html,body{
  height: 100%;
}

/* make body background change color gradually */

body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: rgba(233, 89, 89, 0.809);
  text-align: center;
  background-image: linear-gradient( rgb(237, 66, 100),rgb(255, 237, 188));
  background-color: rgba(237, 66, 100, 0.855);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#container {
  width: 60%;
  margin: auto;
  background-color: rgb(237, 66, 100);
}

.banner {
  height: 10%;
  font-size: 2.5rem;
  color: rgba(110, 23, 23, 0.719);
}

.timediv {
  padding: 0;
  height: 20%;
  font-size: 1.5rem;
  margin-bottom: 0.75%;
  position: relative;
  z-index: 1;
}

.imgs{
  margin: auto;
  height: 70%;
  width: 70%;
  font-size: 2.5rem;
  position: static;
  margin-bottom: 4%;
  /* height: 100%; */
}

img {
  width: 75%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.p {
  /* margin-top: -10rem; */
  color: rgba(139, 0, 0, 0.63);
  padding-bottom: 0;
  margin-bottom: 0;
  height: 0;
  position: relative;
  bottom: 7rem;
}

.timeselect {
  width: 100%;
}
select {
  margin: 1% 0;
  font-size: 1.5rem;
  border-radius: 1rem ;
  padding: 1%;
}

button {
  border: 0.5rem rgba(250, 217, 127, 0.411) dashed;
  border-radius: 1em;
  margin-top: 1rem;
  font-size: 1rem;
  font-family: cursive;
  letter-spacing: 0.5em;
  color: rgb(148, 55, 39);
  text-align: center;
  background-color: rgba(250, 86, 86, 0.884);
  width: 100%;
}

@media screen and (max-width: 500px) {
  html,
    body {
      height: 100%;
    }
  
    body {
      margin: 0;
      font-family: cursive;
      font-size: 0.5rem;
      letter-spacing: 0.06rem;
      color: rgba(233, 89, 89, 0.809);
      text-align: center;
      background-image: linear-gradient(rgb(237, 66, 100), rgb(255, 237, 188));
      background-color: rgba(237, 66, 100, 0.855);
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  
    #container {
      height: 65%;
      width: 60%;
      margin: auto;
    }
  
    .banner {
      height: 7.5%;
      font-size: 1.5rem;
      color: rgba(110, 23, 23, 0.719);
    }
  
    .timediv {
      height: 7.5%;
      font-size: 0.95rem;
      margin-bottom: 0.5%;
      position: relative;
      z-index: 1;
    }
  
    .imgs {
      margin: auto;
      height: 30%;
      font-size: 0.75rem;
      width: 50%;
      position: static;
      margin-bottom: 4%;
    }
  
    img {
      width: 75%;
      height: 100%;
      background-size: cover;
    }
  
    .p {
      color: rgba(231, 219, 219, 0.63);
      padding-bottom: 0;
      margin-bottom: 0;
      height: 0;
      position: relative;
      bottom: 3rem;
    }
    /* .timeselect {
      height: 100%;
    } */
    select {
      margin-top: 5%;
      font-size: 0.75rem;
    }
  
    button {
      border: 0.35rem rgba(250, 217, 127, 0.411) dashed;
      border-radius: 0.75em;
      font-size: 0.45rem;
      font-family: cursive;
      letter-spacing: 0.5em;
      color: rgb(148, 55, 39);
      text-align: center;
      background-color: rgba(250, 86, 86, 0.884);
      width: 100%;
    }
}